@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Roboto:wght@100;400;700&display=swap');
@import './colors';

.main {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', 'sans-serif';
}

.template {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    min-height: 100vh;

    .title_pages p {
        font-size: 
        25px;
    }
}